$primary-font: 'Roboto',
sans-serif;
$secondary-font: 'Nunito Sans',
sans-serif;
$primary-font-size: 20px;
$secondary-font-size: 16px;
$sub-heading-size: 55px;
$primary-color: #284854;
$secondary-color: #60C1BD;
$tertiary-color: #8BC441;

.section {
    max-width: 100%;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;

    &_top-margined {
        max-width: 1200px;
        margin-top: 134px;
        padding: 0 70px;
        height: 391px;
        display: grid;
        justify-self: center;
        justify-items: end;

        @media screen and (max-width: 1024px) {
            gap: 20px;
            grid-template-columns: 2fr 1fr;
            margin-top: 70px;

        }
    }

    &_centered {
        justify-items: center;
        gap: 100px;

        @media screen and (max-width: 1024px) {
            gap: 30px;
            grid-template-columns: 1fr 1fr;
            padding-top: 70px;
        }
    }

    &_main {
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: 289px;

        @media screen and (max-width: 1024px) {
            padding: 180px 0;
        }
    }

    &__heading {
        font-family: $primary-font;
        color: $tertiary-color;
        font-weight: 400;
        font-size: 85px;
        line-height: 1.2;

        @media screen and (max-width: 1024px) {
            font-size: 65px;
        }
    }

    &__main-text {
        font-family: $secondary-font;
        font-size: $primary-font-size;
        line-height: 1.4;
        margin-top: 45px;
        color: #F4F6F0;

        @media screen and (max-width: 1024px) {
            font-size: 18px;
            width: 450px;
            font-weight: 200;
        }
    }

    &__intro-img {
        margin-top: 26px;
        width: 320px;
        height: 330px;

        @media screen and (max-width: 1024px) {
            width: 265px;
            height: 361px;
        }
    }

    &__card-img {
        @media screen and (max-width: 1024px) {
            width: 85px;
            height: 85px;
        }
    }

    &__card {
        width: 506px;
        height: 203px;
        background: #F4F6F0;
        border-radius: 4px;
        margin-top: 90px;
        padding: 30px 0 30px 30px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;

        @media screen and (max-width: 1024px) {
            padding: 20px 0 20px 20px;
            width: 365px;
            height: 155px;
            gap: 5px;
        }
    }

    &__card-description {
        width: 237px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 9px;
    }

    &__card-name {
        font-family: $primary-font;
        font-size: 37px;
        line-height: 1.2;
        font-weight: 400;
        color: $tertiary-color;

        @media screen and (max-width: 1024px) {
            font-size: 27px;
        }
    }

    &__card-link {
        text-decoration: none;
        font-family: $secondary-font;
        font-size: $primary-font-size;
        color: $secondary-color;
        line-height: 1.2;
        cursor: pointer;

        &:hover {
            transition: all 0.5s ease-in-out;
            color: $primary-color;
        }

        @media screen and (max-width: 1024px) {
            font-size: $secondary-font-size;
        }
    }

    &__card-link:hover {
        color: $primary-color;
    }

    &__name {
        font-weight: 700;
        font-size: 22px;
        font-family: $secondary-font;
        line-height: 1.4;
        color: $secondary-color;
        text-align: center;
    }

    &__sub-heading {
        font-size: 55px;
        line-height: 1.2;
        font-family: $primary-font;
        color: $primary-color;
        text-align: center;

        &_left {
            text-align: left;
            margin-bottom: 31px;
        }

        &_light {
            max-width: 524px;
            min-height: 128px;
            font-family: $primary-font;
            font-weight: 400;
            line-height: 1.2;
            color: #fff;
            margin-bottom: 57px;
        }

        @media screen and (max-width: 1024px) {
            font-size: 45px;
        }
    }

    &__links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__link {
        width: 243px;
        height: 81px;
        text-decoration: none;
        color: #fff;
        font-family: $secondary-font;
        line-height: 1.4;
        font-size: $primary-font-size;
        outline: none;

        &:not(:last-of-type) {
            margin-right: 100px;

            @media screen and (max-width: 1024px) {
                margin-right: 55px;
            }
        }

        &:hover {
            transition: all 0.5s ease-in-out;
            color: $primary-color;
        }

        @media screen and (max-width: 1024px) {
            font-size: 18px;
        }
    }

    &__arrow-box {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 70px;
        top: 150px;
    }

    &__paragraph {
        max-height: 337px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 80px;

        &:first-of-type {
            gap: 130px;

            @media screen and (max-width: 1024px) {
                gap: 80px;
                margin-bottom: 100px;
            }
        }

        &:nth-of-type(2) {
            grid-template-columns: 2fr 1fr;
            margin-bottom: 114px;
        }

        @media screen and (max-width: 1024px) {
            margin: 0 20px;
        }
    }

    &__paragraph-description {
        width: 541px;
        min-height: 221px;
    }

    &__paragraph-name {
        font-weight: 700;
        font-family: $secondary-font;
        font-size: $primary-font-size;
        color: #798B56;
        line-height: 1.4;
    }

    &__paragraph-heading {
        font-size: 40px;
        line-height: 1.2;
        font-family: $primary-font;
        color: $tertiary-color;
        margin: 10px 0;
    }

    &__paragraph-wrap {
        max-width: 1054px;
        margin-top: 111px;
    }

    &__paragraph-img {

        &_reversed {
            order: 2;
        }

        &_large {
            width: 312px;
            height: 337px;
        }
    }

    &__text {
        font-family: $secondary-font;
        font-size: 18px;
        line-height: 1.8;
        color: $primary-color;
        margin-bottom: 50px;

        &_small {
            font-size: $secondary-font-size;
            font-family: $secondary-font;
            color: $primary-color;
            line-height: 1.8;
            margin-top: 2px;
        }

        &_xsmall {
            width: 451px;
            font-size: 15px;
            font-family: $secondary-font;
            color: $primary-color;
            line-height: 1.8;
            margin-top: 2px;
        }
    }

    &_bg-grey {
        padding: 78px 0 127px;
        margin-bottom: 11px;
        width: 100%;
        max-height: 601px;
        background-color: #F4F6F0;
        display: grid;

        @media screen and (max-width: 1024px) {
            max-height: 501px;
        }
    }

    &_bg-green {
        width: 100%;
        max-height: 438px;
        padding: 84px 0;
        display: grid;
        background-color: $tertiary-color;
        margin-bottom: 42px;
    }

    &__content {
        display: grid;
        justify-self: center;
        grid-template-columns: 1fr 1fr;
        max-width: 1074px;
        min-height: 396px;

        &_positioned {
            grid-template-columns: 1fr 2fr;
            gap: 167px;

            @media screen and (max-width: 1024px) {
                gap: 60px;
            }
        }

        @media screen and (max-width: 1024px) {
            margin: 0 20px 0 25px;
        }
    }

    &__img {
        &_big {
            width: 380px;
            height: auto;
        }
    }

    &__link-btn {
        width: 126px;
        height: 38px;
        border: 1px solid $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-family: $secondary-font;
        color: $secondary-color;
        cursor: pointer;

        &:hover {
            transition: all 0.5s ease-in-out;
            border: 1px solid #F4F6F0;
            border-radius: 6px;
            color: #F4F6F0;
            background-color: $primary-color;
            opacity: .8;
        }
    }
}